*, *:after, *:before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

}

body {
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	height: 6rem;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header nav .nav-right-section {
	width: 25rem;
	height: auto;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}

nav .nav-right-section a {
	margin-right: 1rem;
	color: #000;
}

nav .nav-right-section .menu-icon {
	background-image: url('https://static.thenounproject.com/png/756729-200.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}

nav .nav-right-section img {
	border-radius: 50%;
	margin-left: 1rem;
}

main {
	margin-top: 15rem;
	text-align: center;
}

main .main-logo {
	width: 53rem;
	margin: 0 auto;
	margin-bottom: 3.5rem;
}

main .main-logo img {
	width: 40rem;
}

main .main-input {
	width: 53rem;
	margin: 0 auto;
	margin-bottom: 3.5rem;
}

main .main-input-container {
	width: 52.5rem;
	border-radius: 10rem;
	border: 1px solid #dfe1e5;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .main-input-container:hover {
	box-shadow: 0 1px 6px 0 #20212447;
	border-color: #dfe1e500;
}

main .main-input input {
	width: 45rem;
	height: 4rem;
	border: none;
	outline: none;
}

main .main-input .search-icon {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
}

main .main-input .micro-icon {
	cursor: pointer;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
}

main .main-input .search-icon,
main .main-input .micro-icon {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 1.8rem;
	height: 1.8rem;
}

main .main-buttons {
	width: 53rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

main .main-buttons div {
	margin: 0 10px;
}

main .main-buttons button {
	height: 3.6rem;
	background-color: #f8f9fa;
	border: none;
	font-size: 1.4rem;
	color: #3c4043;
	border-radius: .5rem;
	padding: 0 1.5rem;
	border: 1px solid #f8f9fa;
	cursor: pointer;
}

main .main-buttons button:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #dadce0;
	background-color: #f8f9fa;
	color: #202124;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 3rem;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
}

footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

footer ul li a {
	display: block;
	color: #70757a;
	padding: 1.5rem;
}

footer ul li a:hover {
	text-decoration: underline;
}